/* **************************************
Designing the layout of body, header and navbar
*************************************** */
body{
     background-color: #9c9f84;
     margin: 0px;
     font-family: Verdana, Georgia, serif;
     font-size: 14px;
     box-sizing: border-box;
}

#header{
     background-color: #5c755e;
     margin: 10px;       /*this is called gutter and it seperates the elements (divs)*/
     height: 90px;
}

/* ***************
NAVBAR SECTION
*************** */
#navbar ul{
     padding: 5px;
     list-style-type: none;
     text-align: center;
     background-color: #000;
     margin: 10px;
}

#navbar ul li{
     display: inline;
}


#navbar ul li a{
     text-decoration: none;
     font-family: Arial;
     padding: .2em 1em;

     background-color: #000;
     color: #fff;
     cursor: pointer;

}

#navbar ul li a:hover{
     color: #000;
     background-color: #fff;
     /* in most websites these days, this reversed color method is used */
}
/* in both the HEADER and NAVBAR we used height, but did not use width,
  because we want our website to be fluid (responsive)(any kind of device) */


  /* ********************************
  Designing the layout of the main section
  ******************************** */
  .main{
       background-color: #e5e4d7;
       margin-left: 10px;  /*this is called gutter and it seperates the elements (divs)*/
       margin-right: 320px;  /*side-right: 260 (width)+20x2(padding)+10x2(margin)*/
       margin-top: 10px;
       margin-bottom: 10px;
       padding: 20px;
       font-size: 110%;       /*100%=14px; 110%=10% increased from 14px*/
  }
  /* we used a CLASS for this main section because we will be using it
    for almost all the main sections of our websites (multi-pages) */

    /* we DO NOT SET Height and Width for our main sections,
    because we want it to be fluid; but we used only height for our
    header and navbar because we do not want them to be distorted*/

/* *****************************
SIDE-RIGHT (SIDE-BAR) SECTION
***************************** */
.side-right{
    background-color: #e5e4d7;
    margin: 10px;  /*this is called gutter and it seperates the elements (divs)*/
    margin-top: 0px;      /*written after MARGIN*/
    padding: 20px;
    font-size: 105%;

    float: right;
    width: 260px;
    /* if you use float, you must give a width or it will not work */
    /* side-bar is NOT liquid (fluid) */

    clear: right;          /*to float SIDE-BARS top to bottom*/
}

/* IMAGE (SIDE-BAR) */
.image-sidebar{
    margin: 10px;  /*this is called gutter and it seperates the elements (divs)*/
    margin-top: 0px;      /*written after MARGIN*/

    float: right;
    width: 300px;
    /* if you use float, you must give a width or it will not work */
    /* side-bar is NOT liquid (fluid) */

    clear: right;          /*to float SIDE-BARS top to bottom*/
    opacity: 1;
    transition: 0.5s ease;
}

.image-sidebar:hover{
     opacity: 0.6;
}


/* ****************
FOOTER SECTION
**************** */
#footer{
     background-color: #5c755e;
     margin: 10px;       /*this is called gutter and it seperates the elements (divs)*/
     height: 60px;
     clear: both;      /*it protects footer from the penetration of  side-bar*/

     color: #efe5d0;
     text-align: center;
     padding: 15px;
     font-size: 90%;
}

/* FOOTER BUTTONS */
#footer ul{
     padding: 5px;
     list-style-type: none;
     text-align: center;
     margin: 10px;
}

#footer ul li{
     display: inline;
}


#footer ul li a{
     text-decoration: none;
     font-family: Arial;
     padding: .2em 1em;

     background-color: #5c755e;
     color: #fff;
}

#footer ul li a:hover{
     color: #000;
     background-color: #fff;
     /* in most websites these days, this reversed color method is used */
}

/* **************************
 HEADINGS STYLES SECTION
 ************************* */
h1{
     font-size: 120%;
     color: #ce282e;
}

h2{
     font-size: 120%;
     color: darkblue;
}

h3{
     font-size: 250%;
     text-align: center;
     color: #e5e4d7;
     margin: 0px;
     font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;

     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     /* the previous 5 rules will always vertically align the element */
}
